Lavie.Web/Configs/Xoohoo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lavie">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="connectionStrings" minOccurs="0" maxOccurs="1" />
        <xs:element name="dataProviders" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="defaultConnectionString" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="modules" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence  minOccurs="0">
              <xs:element maxOccurs="unbounded" name="add">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="settings">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="enabled" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="backgroundServices" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence  minOccurs="0">
              <xs:element maxOccurs="unbounded" name="add">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="settings">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="executorType" type="xs:string" use="required" />
                  <xs:attribute name="interval" type="xs:int" use="required" />
                  <xs:attribute name="enabled" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>